[submodule ".dotbot"]
	path = .dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
[submodule "tmux"]
	path = tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule "dotbot-yaourt"]
	path = dotbot-yaourt
	url = https://github.com/niklas-heer/dotbot-yaourt
[submodule "dotbot-eopkg"]
	path = dotbot-eopkg
	url = https://github.com/niklas-heer/dotbot-eopkg
