#!/usr/bin/env bash

{{ if eq .chezmoi.os "darwin" }}
# Install packages via Homebrew without prompting or updating first.
# Brewfile hash: {{ include "Brewfile" | sha256sum }}
export HOMEBREW_NO_AUTO_UPDATE=1
brew bundle --force --file="$HOME/Brewfile" </dev/null
{{ else }}
echo "Unsupported operating system."
exit 1
{{ end }}
