#!/usr/bin/env bash
set -Eeuo pipefail

{{ if eq .chezmoi.os "darwin" }}

# Install homebrew if not already there
if ! command -v /opt/homebrew/bin/brew 2>&1 >/dev/null
then
    # Install homebrew which also installs Xcode Command Line Tools (clang, gcc, git)
    # https://www.freecodecamp.org/news/install-xcode-command-line-tools/
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Setting up ghq directiories
mkdir -p $HOME/Projects/{test,github.com}

# Fix carapace dir problem
mkdir -p $HOME/.cache/carapace

# Fix scrolling to be classic
defaults write com.apple.swipescrolldirection -bool NO

# Speed up animations
defaults write com.apple.Accessibility ReduceMotionEnabled -int 1
defaults write NSGlobalDomain NSWindowResizeTime -float 0.001

# Setup Dock: speed up animations, move to right position, resize, autohide
# https://macos-defaults.com/dock/
defaults write com.apple.dock "autohide" -bool "true"
defaults write com.apple.dock "autohide-time-modifier" -float "0"
defaults write com.apple.dock "autohide-delay" -float "0"
defaults write com.apple.dock "orientation" -string "left"
defaults write com.apple.dock "tilesize" -int "42"
killall Dock

{{ else }}
echo "Unsupported operating system."
exit 1

{{ end }}
