#!/usr/bin/env bash
set -Eeuo pipefail

{{ if eq .chezmoi.os "darwin" }}

# Install homebrew if not already there
if ! command -v /opt/homebrew/bin/brew 2>&1 >/dev/null
then
    # Install homebrew which also installs Xcode Command Line Tools (clang, gcc, git)
    # https://www.freecodecamp.org/news/install-xcode-command-line-tools/
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

# Setting up ghq directiories
mkdir -p $HOME/Projects/{test,github.com}

# Fix scrolling to be classic
defaults write -g com.apple.swipescrolldirection -bool NO

{{ else }}
echo "Unsupported operating system."
exit 1

{{ end }}
