#!/usr/bin/env bash
set -Eeuo pipefail

{{ if eq .chezmoi.os "darwin" }}

# dot_pyinfra/mac.py hash: {{ include "dot_pyinfra/mac.py" | sha256sum }}
pyinfra @local {{ joinPath .chezmoi.sourceDir "dot_pyinfra/mac.py" | quote }} -y

{{ else }}
echo "Unsupported operating system."
exit 1

{{ end }}
