#!/usr/bin/env bash
set -Eeuo pipefail

{{ if eq .chezmoi.os "darwin" }}

# Install packages via homebrew. (https://www.chezmoi.io/user-guide/advanced/install-packages-declaratively/)
brew bundle --no-lock --file=/dev/stdin --force <<EOF
{{ range .packages.darwin.taps -}}
tap {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.fonts -}}
cask {{ . | quote }}
{{ end -}}
EOF

{{ else }}
echo "Unsupported operating system."
exit 1

{{ end }}
