// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run the `open default settings` command
// from the command palette or from `Zed` application menu.
{
  "context_servers": {
    "core-memory": {
      "source": "custom",
      "enabled": true,
      "command": "npx",
      "args": [
        "-y",
        "mcp-remote",
        "https://core.heysol.ai/api/v1/mcp?source=Zed"
      ]
    },
    "mcp-server-context7": {
      "source": "extension",
      "enabled": true,
      "settings": {
        "context7_api_key": "{{ (onepasswordDetailsFields `zed_context7_api_key`).password.value }}"
      }
    }
  },
  "agent": {
    "default_profile": "nheer",
    "profiles": {
      "nheer": {
        "name": "nheer",
        "tools": {
          "copy_path": true,
          "create_directory": true,
          "delete_path": true,
          "diagnostics": false,
          "edit_file": true,
          "fetch": true,
          "find_path": true,
          "grep": true,
          "list_directory": true,
          "move_path": true,
          "open": true,
          "now": true,
          "project_notifications": true,
          "read_file": true,
          "terminal": true,
          "thinking": true
        },
        "enable_all_context_servers": false,
        "context_servers": {
          "core-memory": {
            "tools": {
              "memory_search": true,
              "memory_ingest": true,
              "memory_get_spaces": true,
              "memory_get_space": true,
              "memory_about_user": true,
              "get_integrations": true,
              "get_integration_actions": true,
              "execute_integration_action": true
            }
          },
          "mcp-server-context7": {
            "tools": {
              "resolve-library-id": true,
              "get-library-docs": true
            }
          }
        }
      }
    },
    "default_model": {
      "provider": "openrouter",
      "model": "anthropic/claude-sonnet-4.5"
    },
    "always_allow_tool_actions": true
  },
  "theme": "Tokyo Night",
  "soft_wrap": "editor_width",
  "buffer_font_size": 16,
  "buffer_font_family": "MonoLisa Variable",
  "buffer_font_features": {
    "ss01": true,
    "ss02": true,
    "zero": true,
    "calt": true
  },
  "buffer_line_height": "comfortable",
  "telemetry": { "diagnostics": true, "metrics": false },
  "terminal": {
    "shell": {
      "program": "nu"
    },
    "font_family": "JetBrainsMono Nerd Font",
    "blinking": "off"
  },
  "experimental.theme_overrides": {
    "terminal.background": "#1E1F29",
    "syntax": {
      "function": {
        "font_style": "italic"
      },
      "comment": {
        "font_style": "italic",
        "font_weight": 600
      }
    }
  },
  "file_types": {
    "JavaScript": ["jxa", "js", "jsx", "mjs", "cjs"],
    "TypeScript": ["ts", "tsx"]
  },
  // https://zed.dev/docs/configuring-zed#auto-install-extensions
  // for the names: ls `~/Library/Application Support/Zed/extensions/installed/` (nushell)
  "auto_install_extensions": {
    "html": true,
    "dockerfile": true,
    "asciidoc": true,
    "earthfile": true,
    "elixir": true,
    "make": true,
    "nu": true,
    "ruby": true,
    "tokyo-night": true,
    "lua": true,
    "docker-compose": true,
    "terraform": true,
    "toml": true
  }
}
